name: 'run'

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 10 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      TZ: Asia/Shanghai

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.TOKEN }} 

      - name: Setup Node.js
        uses: actions/setup-node@main
        with:
          node-version: '20'

      - name: Pull
        run: |
          git config --global user.email "shaobeichen@outlook.com"
          git config --global user.name "shaobeichen"
          git pull --rebase

      - name: Build
        run: |
          npm install
          npm run start
          git add .
          if ! git diff-index --quiet HEAD; then
            git commit -m "feat: Update by github action"
            git push
          fi
